header {
    display: block;
    text-align: center;

}


 a {
   margin: 15px;
   text-decoration: none;
   color: green;
   padding: 5px;

}

a:hover { 
    
    background-color: rgb(11, 221, 64);
    border-radius: 8px;
    opacity: 1;
    border:none;
    transition: 0.5s;
    color: white;
}

a:active {background-color: brown;
    opacity: 0.6;
    color: blue;transition: 0.5s;

}
#cf img {
    width: 150px;
    height: 150px;
    align-items:center;
    padding: 10px;
    object-fit: cover;
}

#cf {
    
    
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    border-bottom: 10px;
    background-color: blue;
}
.ffff {
    color: rgb(65, 55, 55);font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: large;
    word-spacing:8px;
    line-break:loose;
    
}
.secondparagragh {
    background-color: rgb(35, 240, 35);
    text-align: center;
    font-family: cursive;
    margin-left: 25px;
    padding-right: 25px;
}

header img {
    padding-bottom: 20px;
}

.secondmenu {
   padding-bottom: 50px;
}
.mainmenu {
    padding-bottom: 50px;
}
.thirdmenu {
    padding-bottom: 50px;
}
.fourthmenu {
    padding-bottom: 50px;
}
body{
    margin-left: 20px;
}