header img {
    padding-bottom: 20px;
}

header {
    display: block;
    text-align: center;

}


 header a {
   margin: 15px;
   text-decoration: none;
   color: green;
   padding: 5px;

}

 a:hover {
    background-color: rgb(11, 221, 64);
    border-radius: 8px;
    opacity: 1;
    border:none;
    transition: 0.5s;
    color: white;
}

a:active {
    background-color: brown;
    opacity: 0.6;
    color: blue;
    transition: 0.5s;
}
.firstcontact{
    text-align: center;
}
.linebreak{
   font-family: Arial, Helvetica, sans-serif;
   word-spacing: 5px;

}
.prudentism{
    margin-left: 250px;
    padding-bottom: 50px;
}
.prudentchary{
    width:80%;
    padding-bottom: 40%;
    text-overflow:ellipsis;
    
}
.Sign-In {
    width: 100px;
    border: none;
    border-radius: 5px;
    background-color: rgb(136, 49, 27);
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding:10px;
    font-weight: bold;

}
.Sign-In:hover{
    cursor: pointer;
    background-color: rgb(17, 78, 17);
    box-shadow: 3px 3px 3px rgb(241, 112, 112);
    transition: 0.17s;
}
.prudentyy{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
input{
    border: none;
    background-color: rgb(238, 232, 232);
    border-radius: 5px;
    padding: 10px;
    padding-right: 25px;
    text-size-adjust:100px

}
.backgroung{
    background-color: rgb(233, 229, 229);
    margin-left: 30px;
    line-height: 2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}
.Sign-In:active{
    opacity:0.7;
}
body{
    margin-left: 20px;
}
input:active{
   box-shadow: 5px 5px 5px 3px rgb(85, 14, 199);
    border: none;
}

    


 





